@font-face {
  font-family: Custom;
  src: url(InterconnectedDemo-Regular.ttf);
}

* {
  margin: 0;
  font-family: Custom;
}

header {
  display: grid;
  grid-template-areas:
  'left middle-left middle-right right';
  background-color: beige;
  height: 100px;
}

#logo {grid-area: left; width: 50px; margin: auto}
#title {grid-area: middle-left}
#menu {grid-area: middle-right; margin: auto}
#button-div {grid-area: right; margin: auto}

#menu a {
  text-decoration: none;
  color: black;
  margin-right: 15px;
}

#button-div {
  grid-area: right;
  margin: auto;
}

.buttons {
  background-color: rgba(245,245,245,0.9);
  text-align: center;
  border-radius: 3px;
  width: 90px;
  height: 30px;
}

.buttons:active {
  background-color: rgba(245,245,245,0.75);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border: none;
  width: 90px;
  height: 30px;
}

.img-map {
  width: 100%;
}

p {
  width: 80%;
  margin: auto;
  text-align: justify;
  font-family: 'Courier New', monospace;
}

h1 {
  width: 80%;
  text-align: center;
  margin: auto;
}

#experiences img {
  display: flex;
  float: left;
  width: 17.5%;
  height: 150px;
  margin: 0% 1.125% 1%;
}


footer {
  width: 100%;
  height: 75px;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  align-items: center
}

#logo-footer {
  width: 50px
}

.footer-item {
  margin: auto;
}

footer menu {
  display: grid;
  grid-template-areas:
  'top'
  'bottom';
  grid-row-gap: 8px
}

footer a {
  text-decoration: none;
  color: black
}

.footer-item img {
  width: 25px
}
