/*This CSS file contains the styling for the "HOME" website.*/

@font-face {
  /*We have imported this custom font, as it makes it more homey*/
  font-family: Custom;
  src: url(InterconnectedDemo-Regular.ttf);
}

/*
[class*="x"]

Selects all classes which start by "x"

The first element after a floating element needs a property called "clear: both"
*/


html {
  height: 100%
}

* {
  /*We need to remove the margins and change the font for the whole website*/
  margin: 0;
  font-family: Custom;
  box-sizing: border-box;
}

h1, h2 {
  /*Header title and section headlines need to be centered, we also changed their colour*/
  margin: auto;
  text-align: center;
  color: rgb(96,20,4)
}

p {
  /*We chose Courier New for plain text as it is more readable*/
  font-family: 'Courier New', monospace;
  font-size: 14px;
}

h3 {
  /*These are usedd as titles for experiences, we need them to be a bit bigger
  than the rest of the text*/
  font-size: 16px;
  line-height: 22px;
  color: rgb(96,20,40)
}

/*We dont want links to be blue nor underlined*/
a {
  text-decoration: none;
  color: black
}
#logo{
  width: auto;
}

header {
  height: 100px;
  display: flex; /* display en línea*/
  clear: both;
}
#section-map ´{
  clear: both;
}
#menu, #button-div{
  margin: auto;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 601px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
