/*This CSS file contains the styling for the "HOME" website.*/

@font-face {
  /*We have imported this custom font, as it makes it more homey*/
  font-family: Custom;
  src: url(InterconnectedDemo-Regular.ttf);
}

/*
[class*="x"]

Selects all classes which start by "x"

The first element after a floating element needs a property called "clear: both"
*/


html {
  height: 100%
}

* {
  /*We need to remove the margins and change the font for the whole website*/
  margin: 0;
  font-family: Custom;
  box-sizing: border-box;
}

h1, h2 {
  /*Header title and section headlines need to be centered, we also changed their colour*/
  margin: auto;
  text-align: center;
  color: rgb(96,20,4)
}

p {
  /*We chose Courier New for plain text as it is more readable*/
  font-family: 'Courier New', monospace;
  font-size: 14px;
}

h3 {
  /*These are usedd as titles for experiences, we need them to be a bit bigger
  than the rest of the text*/
  font-size: 16px;
  line-height: 22px;
  color: rgb(96,20,40)
}

/*We dont want links to be blue nor underlined*/
a {
  text-decoration: none;
  color: black
}

header {
  /*Header will have a display flex and a background colour*/
  display: flex;
  background-color: beige;
  height: 100px;
  padding: 0px 50px;

}

/*The logo, menu and button-div will all have margin: auto as styling, the logo
will have a bigger left margin and the menu will have a fixed width*/
#logo {
  width: 50px;
  margin: auto;
}

#menu, #button-div {
  margin: auto
}

/*We want the links (a alements) to be spaced appart fromm each other*/
#menu a {
  margin-right: 15px;
}

/*We will style the buttons, as well as make them changed when clicked*/
.buttons {
  background-color: rgba(245,245,245,0.9);
  border-radius: 3px;
  width: 90px;
  height: 30px;
  margin: 5px auto 0px
}

.buttons:active {
  background-color: rgba(0,0,0,0.125);
  box-shadow: 0 12px 16px 0 rgba(255,255,255,0.9), 0 17px 50px 0 rgba(255,255,255,0.81);
  border: none;
  width: 90px;
  height: 30px;
}

section {
  /*Sections need to have full height and width*/
  width: 100%;
  height: 100%;
}

/*The map needs to be centered and have the section needs a background.
Furthermore, we will give the image a fixed size*/
#section-map {
  display: flex;
  background-color: rgba(0,255,0,0.1)
}

#map {
  width: 700px;
  height: 470px;
  margin: auto;
}

/*The search section will have a grid-template in order to align the items
without having to set custom margins, the title will be on the top area, the
input on the bottom-left and the button on the bottom-right*/
#section-search {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-areas:
  'top top'
  'left right';
  grid-column-gap: 5px;
  background-color: beige;
  padding: 30px 0px;
}

#title-search {grid-area: top; margin: auto}
#button-search {grid-area: right; margin-right: auto; margin-top: 0px}
#in-search {grid-area: left; margin-left: auto; height: 22px; width: 200px}

/*The last section needs to be centered, have a background and a small padding
on the bottom side*/
#section-exp {
  width: 80%;
  margin: auto;
  background-color: beige;
  padding-bottom: 1%
}

/*Columns will be aligned using display:flex and float:left, we also center
them using margins*/
.block {
  display: flex;
  margin: auto;
}

.column {
  display: block;
  float: left;
  margin: auto;
}

/*As the columns have display:block, the experiences will align vertically*/
.experience {
  margin-top: 10px;
  width: 15vw;
}

#section-exp img {
  width: 15vw
}

/*The footer needs a display flex in order to split the contents*/
footer {
  width: 100%;
  height: 75px;
  background-color: rgba(0,0,0,0.1);
  display: flex;
}

#logo-footer {
  width: 50px;
  margin: auto
}

/*The social and link divs use a grid-template in order to make the contents
align vertically, display:block was not achieving it*/
.footer-item {
  display: grid;
  grid-template-areas:
  'top'
  'bottom';
  grid-row-gap: 6px;
  margin: auto;
}

.footer-img {
  width: 20px
}

/*For devices with screens thinner than 768px, we only had to change the header
and the map sizes*/
@media only screen and (max-device-width: 769px) {
  header {
    height: 70px;
    padding: 0px
  }

  #title {
    font-size: 20px;
    width: 200px;
    }

  #map {
    width: 600px;
    height: 400px
  }

  .experience {
    width: 20vw;
  }

  #section-exp img {
    width: 20vw;
  }

}

/*For even smaller devices, we needed more changes*/
@media only screen and (max-device-width: 601px) {
  header {
    height: 75px;
    padding: 0px
  }

/*Different header alignments, here links are stacked vertically, as well as buttons*/
  #logo  {
    margin-left: 27px;
  }

  #title {
    font-size: 18px !important;
    width: 175px;
    margin: auto 10px;
    }

  #menu {
    width: 100px;
    font-size: 14px;
  }

  #menu, #button-div {
    display: grid;
    grid-template:
    'top'
    'mid'
    'bottom';
  }

  #menu a {
    margin: auto;
  }

  #map {
    width: 500px;
    height: 400px
  }

/*The experiences are thikened, from 25vw to 30vw*/
  .experience {
    width: 30vw;
  }

  #section-exp img {
    width: 30vw;
  }

/*The experiences will now be aligned in 2 columns on top and one below*/
  .block {
    display: grid;
    grid-template-areas:
    'left right'
    'bottom bottom';
  }

  #col1 {grid-area: left}
  #col2 {grid-area: bottom}
  #col3 {grid-area: right}

}
