/*This CSS file contains the styling for the "HOME" website.*/

@font-face {
  /*We have imported this custom font, as it makes it more homey*/
  font-family: Custom;
  src: url(InterconnectedDemo-Regular.ttf);
}

html {
  height: 100%
}

* {
  /*We need to remove the margins and change the font for the whole website*/
  margin: 0;
  font-family: Custom;
  box-sizing: border-box;
}

h1, h2 {
  /*Header title and section headlines need to be centered, we also changed their colour*/
  margin: auto;
  text-align: center;
  color: rgb(96,20,4)
}

p {
  /*We chose Courier New for plain text as it is more readable*/
  font-family: 'Courier New', monospace;
  font-size: 14px;
}

h3 {
  /*These are usedd as titles for experiences, we need them to be a bit bigger
  than the rest of the text*/
  font-size: 16px;
  line-height: 22px;
  color: rgb(96,20,40)
}

/*We dont want links to be blue nor underlined*/
a {
  text-decoration: none;
  color: black
}

header {
  /*Header will have a display flex and a background colour*/
  display: flex;
  background-color: beige;
  height: 85px;
  padding: 0px;
}

/*The logo, menu and button-div will all have margin: auto as styling, the logo
will have a bigger left margin and the menu will have a fixed width*/
#logo {
  width: 50px;
  margin: auto auto auto 27px;
  cursor: pointer;
}

#logo img {
  width: 50px;
}

#title {
  font-size: 18px;
  width: 175px;
  margin: auto 10px;
  }

/*We want the links (a alements) and the buttons to be stacked vertically*/
#menu, #button-div {
  margin: auto;
  display: grid;
  grid-template:
  'top'
  'mid'
  'bottom';
}

#menu {
  width: 100px;
  font-size: 14px;
}

#menu a {
  margin: auto;
}

/*When hovering over the menu options, we want them to change color*/
#menu a:hover {
  color: #ee7f44;
  transition-duration: 500ms;
}

/*We will style the buttons, as well as make them changed when clicked*/
.buttons {
  background-color: rgba(245,245,245,0.9);
  border-radius: 3px;
  width: 90px;
  height: 30px;
  margin: 5px auto 0px
}

/*Hovering and clicking over buttons will change colors*/
.buttons:hover {
  cursor: pointer;
  background-color: #ee7f44;
  transition-duration: 750ms;
  color: white;
}

.buttons:active {
  background-color: rgba(0,0,0,0.125);
  box-shadow: 0 12px 16px 0 rgba(255,255,255,0.9), 0 17px 50px 0 rgba(255,255,255,0.81);
  border: none;
  width: 90px;
  height: 30px;
  transition-duration: 0ms;
  color: black
}

/*Sections need to have full height and width*/
section {
  width: 100%;
  height: 100%;
}

/*The map needs to be centered and have the section needs a background.
Furthermore, we will give the image a fixed size*/
#section-map {
  display: flex;
  background-color: rgba(255,0,0,0.03);
}

#map {
  width: 70%;
  margin: auto;
  display: flex;
}

#map svg {
  width: 70%;
  margin: auto
}

#ES, #AT, #IT {
  fill: rgba(238, 127, 68, 0.75);
  stroke: black;
}

#ES:hover, #AT:hover, #IT:hover {
  fill: #ee7f44;
  cursor: pointer;
}

/*The search section will have a grid-template, the title will be on the top
area, the input on the bottom-left and the button on the bottom-right*/
#section-search {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-areas:
  'top top'
  'left right';
  grid-column-gap: 5px;
  background-color: beige;
  padding: 30px 0px 50px;
}

#title-search {grid-area: top; margin: auto}
#in-search {grid-area: left; margin: auto 0px auto auto; height: 28px; width: 200px}
#button-search {grid-area: right; margin: auto auto auto 0px; margin-top: 0px}

/*The last section needs to be centered, have a background and a small padding
on the bottom side*/
#section-exp {
  width: 100%;
  margin: auto;
  background-color: beige;
  padding-bottom: 1%
}

/*Columns will be aligned using display:flex and float:left, we also center
them using margins*/
.block {
  display: grid;
  grid-template-areas:
  'left right'
  'bottom bottom';
  margin: auto;
}

#col1 {grid-area: left}
#col2 {grid-area: bottom}
#col3 {grid-area: right}

.column {
  display: block;
  float: left;
  margin: auto;
}

/*As the columns have display:block, the experiences will align vertically*/
.experience {
  margin-top: 10px;
  width: 30vw;
}

#section-exp img {
  width: 30vw;
  border-radius: 5%
}

/*The footer needs a display flex in order to split the contents*/
footer {
  width: 100%;
  height: 75px;
  background-color: rgba(0,0,0,0.1);
  display: flex;
}

#logo-footer {
  width: 50px;
  margin: auto
}

/*The social and link divs use a grid-template in order to make the contents
align vertically, display:block was not achieving it*/
.footer-item {
  display: grid;
  grid-template-areas:
  'top'
  'bottom';
  grid-row-gap: 6px;
  margin: auto;
}

.footer-img {
  width: 20px
}

#social img {
  cursor: pointer;
}

/*For even smaller devices, we needed more changes*/
@media only screen and (min-device-width: 601px) {
  header {
    height: 85px;
    padding: 0px
  }

  #logo {
    margin-left: auto;
  }

  #title {
    font-size: 20px;
    width: 200px;
    }

  #button-div {
    display: flex;
  }

  #button-div button {
    margin-right: 10px
  }

  .block {
    display: flex;
  }

  .experience {
    width: 22vw;
  }

  #section-exp img {
    width: 22vw;
  }
}

/*For devices with screens thiker than 768px, we only to change the header and
the map sizes*/
@media only screen and (min-device-width: 769px) {
  header {
    height: 100px;
  }

  #logo {
    margin-left: 30px
  }

  #title {
    font-size: 26px;
    width: 350px
  }

  #menu {
    display: flex;
    width: 230px;
    font-size: 18px
  }
}
